numpy~=1.26.4
netifaces~=0.11.0
coloredlogs~=15.0.1
psutil~=7.0.0
nats-py
pyserial~=3.5
typing_extensions~=4.12.2
jupyter~=1.1.1
pip~=23.2.1
attrs~=25.3.0
pillow~=11.1.0
tornado~=6.4.2
Jinja2~=3.1.6
setuptools~=65.5.0
packaging~=24.2
platformdirs~=4.3.7
requests~=2.32.3
pandas~=2.2.3
tikzplotlib~=0.10.1
matplotlib~=3.10.1